.footer-container {
    padding: 60px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.contacts {
    display: flex;
    gap: 12px;
}

.contacts-card {
    border-radius: 20px;
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 12px;
    width: 417px;
}

.contacts-card:hover {
    cursor: pointer;
}

.contacts-card p {
    transition: color 0.3s ease;
}

.contacts-card h3 {
    transition: color 0.3s ease;
}

.contacts-card:hover p {
    color: var(--primary);
}

.contacts-card:hover h3 {
    color: var(--primary);
}

.footer-below-part-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.social-media {
    display: flex;
    gap: 12px;
}

.social-media-icon {
    padding: 8px;
    transition: color 0.3s ease;
}

.social-media-icon:hover {
    cursor: pointer;
    color: var(--primary);
}

.made-in-rsschool {
    transition: color 0.3s ease;
}

.made-in-rsschool:hover {
    color: var(--primary);
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer-container {
        padding-left: 8px;
        padding-right: 8px;
    }

    .contacts {
        flex-direction: column;
        flex: 1;
        width: 100%;
    }

    .contacts-card {
        width: unset;
    }
}
